create database [Karting]

USE [Karting]
GO
/****** Object:  Table [dbo].[Charity]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity](
	[ID_Сharity] [int] IDENTITY(1,1) NOT NULL,
	[Charity_Name] [nvarchar](100) NOT NULL,
	[Charity_Description] [nvarchar](3000) NULL,
	[Charity_Logo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Charity] PRIMARY KEY CLUSTERED 
(
	[ID_Сharity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[ID_Country] [nchar](3) NOT NULL,
	[Country_Name] [varchar](50) NOT NULL,
	[Country_Flag] [varchar](50) NOT NULL,
 CONSTRAINT [PK_contry] PRIMARY KEY CLUSTERED 
(
	[ID_Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Event]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[ID_Event] [int] IDENTITY(1,1) NOT NULL,
	[Event_Name] [nvarchar](50) NOT NULL,
	[ID_EventType] [nchar](5) NOT NULL,
	[ID_Race] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[MaxParticipants] [smallint] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[ID_Event] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event_Type]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event_Type](
	[ID_Event_type] [nchar](5) NOT NULL,
	[Event_Type_Name] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Event_Type_1] PRIMARY KEY CLUSTERED 
(
	[ID_Event_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[ID_Gender] [nchar](1) NOT NULL,
	[Gender_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID_Gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Race]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Race](
	[ID_Race] [int] IDENTITY(1,1) NOT NULL,
	[Race_Name] [varchar](80) NOT NULL,
	[Sity] [varchar](50) NOT NULL,
	[ID_Country] [nchar](3) NOT NULL,
	[Year_Held] [smallint] NOT NULL,
 CONSTRAINT [PK_Race] PRIMARY KEY CLUSTERED 
(
	[ID_Race] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Racer]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Racer](
	[ID_Racer] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[ID_Country] [nchar](3) NOT NULL,
	[Image] [nvarchar] (max) NULL
 CONSTRAINT [PK_Racer] PRIMARY KEY CLUSTERED 
(
	[ID_Racer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[ID_Registration] [int] IDENTITY(1,1) NOT NULL,
	[ID_Racer] [int] NOT NULL,
	[Registration_Date] [date] NOT NULL,
	[ID_Registration_Status] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[ID_Charity] [int] NOT NULL,
	[SponsorshipTarget] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[ID_Registration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registration_Status]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration_Status](
	[ID_Registration_Status] [int] IDENTITY(1,1) NOT NULL,
	[Statu_Name] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Registration_Status] PRIMARY KEY CLUSTERED 
(
	[ID_Registration_Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Result]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ID_Result] [int] IDENTITY(1,1) NOT NULL,
	[ID_Registration] [int] NOT NULL,
	[ID_Event] [int] NOT NULL,
	[BidNumber] [smallint] NOT NULL,
	[RaceTime] [time](7) NOT NULL,
 CONSTRAINT [PK_RegistrationEvent] PRIMARY KEY CLUSTERED 
(
	[ID_Result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[ID_Role] [nchar](1) NOT NULL,
	[Role_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID_Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sponsorship]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorship](
	[ID_Sponsorship] [int] IDENTITY(1,1) NOT NULL,
	[SponsorName] [nvarchar](150) NOT NULL,
	[Amount] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[ID_Sponsorship] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[First_Name] [nvarchar](30) NULL,
	[Last_Name] [nvarchar](30) NULL,
	[ID_Role] [nchar](1) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 18.10.2016 22:12:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[ID_Volunteer] [nchar](3) NOT NULL,
	[First_Name] [nvarchar](80) NOT NULL,
	[Last_Name] [nvarchar](80) NOT NULL,
	[ID_Country] [nchar](3) NOT NULL,
	[Gender_ID] [nchar](1) NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[ID_Volunteer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Charity] ON 

INSERT [dbo].[Charity] ([ID_Сharity], [Charity_Name], [Charity_Description], [Charity_Logo]) VALUES (2, N'GAVI', N'GAVI or Global Alliance for Vaccines and Immunization is a public-private global health partnership committed to increasing access to immunisation in poor countries', N'GAVI.png')
SET IDENTITY_INSERT [dbo].[Charity] OFF
INSERT [dbo].[Country] ([ID_Country], [Country_Name], [Country_Flag]) VALUES (N'AND', N'Andorra', N'flag_andorra.png')
INSERT [dbo].[Country] ([ID_Country], [Country_Name], [Country_Flag]) VALUES (N'ARG', N'Argentina', N'flag_argentina.png')
INSERT [dbo].[Country] ([ID_Country], [Country_Name], [Country_Flag]) VALUES (N'AUS', N'Australia', N'flag_australia.png')
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([ID_Event], [Event_Name], [ID_EventType], [ID_Race], [StartDateTime], [Cost], [MaxParticipants]) VALUES (1, N'Cairo 2.5KM Race', N'2.5KM', 4, CAST(0x0000A45E00000000 AS DateTime), CAST(5000.00 AS Decimal(10, 2)), 15)
INSERT [dbo].[Event] ([ID_Event], [Event_Name], [ID_EventType], [ID_Race], [StartDateTime], [Cost], [MaxParticipants]) VALUES (2, N'
Giza desert 6.5KM Race', N'6.5KM', 4, CAST(0x0000A46600000000 AS DateTime), CAST(8000.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[Event] ([ID_Event], [Event_Name], [ID_EventType], [ID_Race], [StartDateTime], [Cost], [MaxParticipants]) VALUES (4, N'Red Send 4KM Race  ', N'4KM  ', 4, CAST(0x0000A45700000000 AS DateTime), CAST(6500.00 AS Decimal(10, 2)), 7)
SET IDENTITY_INSERT [dbo].[Event] OFF
INSERT [dbo].[Event_Type] ([ID_Event_type], [Event_Type_Name]) VALUES (N'2.5KM', N'2.5km Race')
INSERT [dbo].[Event_Type] ([ID_Event_type], [Event_Type_Name]) VALUES (N'4KM  ', N'4km Race')
INSERT [dbo].[Event_Type] ([ID_Event_type], [Event_Type_Name]) VALUES (N'6.5KM', N'6.5km Race')
INSERT [dbo].[Gender] ([ID_Gender], [Gender_Name]) VALUES (N'F', N'Female
')
INSERT [dbo].[Gender] ([ID_Gender], [Gender_Name]) VALUES (N'M', N'Male')
SET IDENTITY_INSERT [dbo].[Race] ON 

INSERT [dbo].[Race] ([ID_Race], [Race_Name], [Sity], [ID_Country], [Year_Held]) VALUES (1, N'Kart Skills 2012', N'Munich', N'GER', 2012)
INSERT [dbo].[Race] ([ID_Race], [Race_Name], [Sity], [ID_Country], [Year_Held]) VALUES (4, N'Kart Skills 2013', N'Cairo', N'EGY', 2015)
INSERT [dbo].[Race] ([ID_Race], [Race_Name], [Sity], [ID_Country], [Year_Held]) VALUES (10, N'Kart Skills 2014', N'Rio de Janeiro', N'BRA', 2014)
SET IDENTITY_INSERT [dbo].[Race] OFF
SET IDENTITY_INSERT [dbo].[Racer] ON 

INSERT [dbo].[Racer] ([ID_Racer], [First_Name], [Last_Name], [Gender], [DateOfBirth], [ID_Country]) VALUES (7, N'Liam', N'Jeferson', N'M', CAST(0x3B200B00 AS Date), N'USA')
INSERT [dbo].[Racer] ([ID_Racer], [First_Name], [Last_Name], [Gender], [DateOfBirth], [ID_Country]) VALUES (8, N'Anna', N'Ivanova', N'F', CAST(0x06190B00 AS Date), N'RUS')
INSERT [dbo].[Racer] ([ID_Racer], [First_Name], [Last_Name], [Gender], [DateOfBirth], [ID_Country]) VALUES (9, N'Irakly', N'Vahsha', N'M', CAST(0x6E170B00 AS Date), N'ISR')
SET IDENTITY_INSERT [dbo].[Racer] OFF
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([ID_Registration], [ID_Racer], [Registration_Date], [ID_Registration_Status], [Cost], [ID_Charity], [SponsorshipTarget]) VALUES (1, 7, CAST(0x143A0B00 AS Date), 1, CAST(15.00 AS Decimal(10, 2)), 1, CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Registration] ([ID_Registration], [ID_Racer], [Registration_Date], [ID_Registration_Status], [Cost], [ID_Charity], [SponsorshipTarget]) VALUES (4, 8, CAST(0x0B3A0B00 AS Date), 2, CAST(15.00 AS Decimal(10, 2)), 3, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Registration] ([ID_Registration], [ID_Racer], [Registration_Date], [ID_Registration_Status], [Cost], [ID_Charity], [SponsorshipTarget]) VALUES (7, 9, CAST(0x713A0B00 AS Date), 1, CAST(15.00 AS Decimal(10, 2)), 2, CAST(700.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Registration] OFF
SET IDENTITY_INSERT [dbo].[Registration_Status] ON 

INSERT [dbo].[Registration_Status] ([ID_Registration_Status], [Statu_Name]) VALUES (1, N'Registered')
INSERT [dbo].[Registration_Status] ([ID_Registration_Status], [Statu_Name]) VALUES (2, N'
Payment Confirmed')
INSERT [dbo].[Registration_Status] ([ID_Registration_Status], [Statu_Name]) VALUES (4, N'Race Attended')
SET IDENTITY_INSERT [dbo].[Registration_Status] OFF
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([ID_Result], [ID_Registration], [ID_Event], [BidNumber], [RaceTime]) VALUES (1, 1, 1, 1, CAST(0x0700EB5375690000 AS Time))
INSERT [dbo].[Result] ([ID_Result], [ID_Registration], [ID_Event], [BidNumber], [RaceTime]) VALUES (2, 4, 1, 12, CAST(0x07808D916E010000 AS Time))
INSERT [dbo].[Result] ([ID_Result], [ID_Registration], [ID_Event], [BidNumber], [RaceTime]) VALUES (3, 7, 2, 23, CAST(0x07807BFCB6000000 AS Time))
SET IDENTITY_INSERT [dbo].[Result] OFF
INSERT [dbo].[Role] ([ID_Role], [Role_Name]) VALUES (N'A', N'Administrator')
INSERT [dbo].[Role] ([ID_Role], [Role_Name]) VALUES (N'C', N'Coordinator')
INSERT [dbo].[Role] ([ID_Role], [Role_Name]) VALUES (N'R', N'Racer')
SET IDENTITY_INSERT [dbo].[Sponsorship] ON 

INSERT [dbo].[Sponsorship] ([ID_Sponsorship], [SponsorName], [Amount]) VALUES (1, N'Angel Jhons', CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[Sponsorship] ([ID_Sponsorship], [SponsorName], [Amount]) VALUES (2, N'Uri Kovrov', CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Sponsorship] ([ID_Sponsorship], [SponsorName], [Amount]) VALUES (3, N'Asha Timbert', CAST(150.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sponsorship] OFF
INSERT [dbo].[User] ([Email], [Password], [First_Name], [Last_Name], [ID_Role]) VALUES (N'L.Jeferson@gmail.com', N'$1Qr3%9%r', N'Liam', N'Jeferson', N'R')
INSERT [dbo].[User] ([Email], [Password], [First_Name], [Last_Name], [ID_Role]) VALUES (N'A.Ivanova@gmail.com', N'%pO53f', N'Anna', N'Ivanova', N'R')
INSERT [dbo].[User] ([Email], [Password], [First_Name], [Last_Name], [ID_Role]) VALUES (N'I.Vahsha@gmail.com', N'34@7jpG', N'Irakly', N'Vahsha', N'R')
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Event_Type1] FOREIGN KEY([ID_EventType])
REFERENCES [dbo].[Event_Type] ([ID_Event_type])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Event_Type1]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Race] FOREIGN KEY([ID_Race])
REFERENCES [dbo].[Race] ([ID_Race])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Race]
GO
ALTER TABLE [dbo].[Race]  WITH CHECK ADD  CONSTRAINT [FK_Race_Country] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Country] ([ID_Country])
GO
ALTER TABLE [dbo].[Race] CHECK CONSTRAINT [FK_Race_Country]
GO
ALTER TABLE [dbo].[Racer]  WITH CHECK ADD  CONSTRAINT [FK_Racer_Country] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Country] ([ID_Country])
GO
ALTER TABLE [dbo].[Racer] CHECK CONSTRAINT [FK_Racer_Country]
GO
ALTER TABLE [dbo].[Racer]  WITH CHECK ADD  CONSTRAINT [FK_Racer_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([ID_Gender])
GO
ALTER TABLE [dbo].[Racer] CHECK CONSTRAINT [FK_Racer_Gender]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Charity] FOREIGN KEY([ID_Charity])
REFERENCES [dbo].[Charity] ([ID_Сharity])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Charity]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Racer] FOREIGN KEY([ID_Racer])
REFERENCES [dbo].[Racer] ([ID_Racer])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Racer]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Event_Event] FOREIGN KEY([ID_Event])
REFERENCES [dbo].[Event] ([ID_Event])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Registration_Event_Event]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Event_Registration] FOREIGN KEY([ID_Registration])
REFERENCES [dbo].[Registration] ([ID_Registration])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Registration_Event_Registration]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID_Role])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Country] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Country] ([ID_Country])
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Gender] FOREIGN KEY([Gender_ID])
REFERENCES [dbo].[Gender] ([ID_Gender])
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Gender]
GO


CREATE TABLE [dbo].[Position]
(
	[Positionid] [integer]  not null identity(1,1) ,
	[PositionName] [varchar](100)  not null,
	[PositionDescription] [varchar](200) null,
	[PayPeriod] [varchar](10) not null,
	[PayRate] [decimal] (10,2)  not null

	constraint [PK_Position] primary key clustered ([Positionid] ASC) on [PRIMARY] 
)
go

create table [dbo].[Staff]
(
	[Staffid] [int] not null identity(1,1),
	[FirstName] [varchar] (80) not null,
	[LastName] [varchar] (80) not null,
	[DateOfBirth][datetime] not null,
	[Gender] [varchar] (10) not null,
	[Positionid] [int] not null,
	[Email] [varchar] (100) not null,
	[Comments] [varchar] (200) not null,

	constraint [PK_Staff] primary key clustered ([Staffid] ASC) on [PRIMARY],
	
	constraint [FK_Position_Staff] foreign key ([Positionid])  
	references [dbo].[Position] (Positionid)
)

CREATE TABLE [dbo].[Timesheet]
(
	[Timesheetid] [int]  not null identity(1,1) ,
	[Staffid] [int] not null,
	[StartDateTime] [datetime] null,
	[EndDateTime] [datetime] null,
	[PayAmount] [decimal] (10,2) not null

	constraint [PK_Timesheet] primary key clustered ([Timesheetid] ASC) on [PRIMARY],

	constraint [FK_Staff_Timesheet] foreign key ([Staffid])  
	references [dbo].[Staff] (Staffid)
)
go

create or alter view [dbo].[List_Racer] ("Гонщик")
as
	select
	[First_Name]+ ' '+[Last_Name]+' - '+CONVERT(varchar (50),[ID_Racer]) + ' (' + [ID_Country] + ')'
	from [dbo].[Racer]
go

create or alter view [dbo].[List_Charity] ("Номер","Наименование оргонизации","Описание благотворительности","Картинка")
as
	select * from [dbo].[Charity]
go

create or alter view [dbo].[List_SponsorShip] ("Номер","Наименование", "Стоимость")
as
	select * from [dbo].[Sponsorship]
go

create or alter view [dbo].[List_Charity] ("Номер","Наименование", "Описание","Логотип")
as
	select * from [dbo].[Charity]
go

create or alter view [dbo].[List_Event] ("0","1","2","3","4","5","6")
as
	select * from [dbo].[Event]
go

create procedure [dbo].[Registration2_insert] 
@ID_Racer [int],
@Registration_Date [date],
@ID_Registration_Status [int],
@Cost [decimal] (10,2),
@ID_Charity [int],
@SponsorshipTarget [decimal] (10,2)
as
	insert into [dbo].[Registration] 
	([ID_Racer],[Registration_Date],[ID_Registration_Status],[Cost],[ID_Charity],[SponsorshipTarget])
	values (@ID_Racer,@Registration_Date,@ID_Registration_Status,@Cost,@ID_Charity,@SponsorshipTarget)
go

create procedure [dbo].[Registration_insert] 
@ID_Racer [int],
@ID_Charity [int],
@SponsorshipTarget [decimal] (10,2)
as
	insert into [dbo].[Registration] ([ID_Racer], [Registration_Date], [ID_Registration_Status], [Cost], [ID_Charity], [SponsorshipTarget])
	values (@ID_Racer,FORMAT(GETDATE(),'yyyy-MM-dd'),1,15,@ID_Charity,@SponsorshipTarget)
go

create procedure [dbo].[User_insert] 
@Email [nvarchar] (100),
@Password [nvarchar] (100),
@First_Name [varchar](50),
@Last_Name [varchar](50),
@ID_Role [nchar](1)
as
	insert into [dbo].[User] 
	([Email],[Password],[First_Name],[Last_Name],[ID_Role])
	values (@Email,@Password,@First_Name,@Last_Name,@ID_Role)
go

create procedure [dbo].[User_update] 
@Email [nvarchar] (100),
@Password [nvarchar] (100),
@First_Name [varchar](50),
@Last_Name [varchar](50)
as
	update [dbo].[User] set
	Password = @Password,
	First_Name=@First_Name,
	Last_Name=@Last_Name
	where Email=@Email
go

create procedure [dbo].[Racer_insert] 
@First_Name [varchar](50),
@Last_Name [varchar](50),
@Gender [nchar](1),
@DateOfBirth [date],
@ID_Country [nchar](3),
@Image [nvarchar](max)
as
	insert into [dbo].[Racer] 
	([First_Name],[Last_Name],[Gender],[DateOfBirth],[ID_Country],[Image])
	values (@First_Name,@Last_Name,@Gender,@DateOfBirth,@ID_Country,@Image)
go

create procedure [dbo].[Racer_update] 
@ID_Racer [int],
@First_Name [varchar](50),
@Last_Name [varchar](50),
@Gender [nchar](1),
@DateOfBirth [date],
@ID_Country [nchar](3),
@Image [nvarchar](max)
as
	update [dbo].[Racer] set
	First_Name=@First_Name,
	Last_Name=@Last_Name,
	Gender = @Gender,
	DateOfBirth = @DateOfBirth,
	ID_Country=@ID_Country,
	Image=@Image
	where ID_Racer = @ID_Racer
go

create or alter function [dbo].[Search_Chartity] (@name [varchar] (max))--Функция поиска продукта
returns table
as
	return(
		select
		[ID_Сharity]
		from [dbo].[Charity] 
		where LOWER([Charity_Name]) = LOWER(@name)
	)
go

create or alter function [dbo].[Autarization] (@email [varchar] (max),@password [varchar] (max))--Функция авторизации
returns table
as
	return(
		select
		[dbo].[Role].[Role_Name],
		[Email],
		[Password],
		[First_Name],
		[Last_Name]
		from 
		[dbo].[User] 
		inner join [dbo].[Role] on [dbo].[User].[ID_Role]=[dbo].[Role].[ID_Role]
		where [Email] = @email and [Password] = @password
	)
go

create or alter function [dbo].[Country_Seartch] (@name [varchar] (max))
returns table
as
	return(
		select
		[ID_Country]
		from [dbo].[Country] 
		WHERE [Country_Name] = @name
	)
go

create or alter function [dbo].[ReceUser_Seartch] (@name [varchar] (max))
returns table
as
	return(
		select
		[ID_Racer]
		from [dbo].[Racer] 
		WHERE [First_Name]+[Last_Name] = @name
	)
go

create or alter function [dbo].[Raser_Seartch] (@name [varchar] (max))
returns table
as
	return(
		select 
		[ID_Racer],
		[First_Name],
		[Last_Name],
		[Gender].[Gender_Name],
		[DateOfBirth],
		[Country].[Country_Name],
		[Image]
		from [dbo].[Racer] 
		left join [dbo].[Gender] on [dbo].[Racer].[Gender]=[dbo].[Gender].[ID_Gender]
		inner join [dbo].[Country] on [dbo].[Racer].[ID_Country]=[dbo].[Country].[ID_Country]
		WHERE [First_Name]+ ' ' + [Last_Name] = @name
	)
go

create or alter function [dbo].[SponsorShip_Seartch] (@name [varchar] (max))
returns table
as
	return(
		select*
		from [dbo].[Sponsorship] 
		WHERE [SponsorName] = @name
	)
go

select * from [dbo].[Raser_Seartch]('Денис Балаев')

select * from [Racer]